<nav>
    <div class="nav-wrapper red darken-4">
        <a class="brand-logo left" href="/" style="padding-left:15px">Welcome to Cultist</a>
        <ul class="right">
            <% if @user %>
                <li><%= link_to  "Start a cult", new_cult_path %></li>              
            <% end %>
            <li><%= link_to  "Cults", cults_path %></li>
            <li><%= link_to  "Cities", locations_path %></li>
            <% if @user %>
                <li><%= link_to  "Signed in as #{@user.name}", @user %></li>
                <li><%= link_to  "Logout", sign_out_path %></li>
            <%else%>
                <li><%= link_to  "Login", sign_in_path %></li>
                <li><%= link_to  "Sign up", new_member_path %></li>
            <% end %>
        </ul>
    </div>
</nav>
    
