<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- basic, crappy nav bar-->
  <h2 style="color: red;" >Welcome to Cultist!</h2>

  <nav>
    <ul>
    <li><h3><%= link_to  "Cults", cults_path %></h3></li>
    <li><h3><%= link_to  "Members", members_path %></h3></li>
    <li><h3><%= link_to  "Cities", locations_path %></h3></li>
    </ul>
    <table>
    <tr>
      <td><h3><%= link_to  "Cults", cults_path %></h3></td>
      <td><h3><%= link_to  "Members", members_path %></h3></td>
      <td><h3><%= link_to  "Cities", locations_path %></h3></td>   
    </tr>
    </table>
    <h3>
    <% if @user %>
        <%= "Signed in as "%>
        <%= link_to  "#{@user.name}", @user %>
        <br>   
        <%= link_to  "Logout", sign_out_path %>   
        <%else%>
        <%= link_to  "Login", sign_in_path %>
        <%= link_to  "Sign up", sing_up_path %>
    <% end %>
    </tr>

    </nav>

    
    <%= yield %>
  </body>
</html>
