<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- basic, crappy nav bar-->
    <h3>
    <%= link_to  "Cults", cults_path %> // 
    <%= link_to  "Members", members_path %> // 
    <%= link_to  "Locations", locations_path %>
    </h3>
    <%= yield %>
  </body>
</html>
