<h2><%= @member.name %></h2>
<h6><%= "Date of birth: #{@member.date_of_birth}, (age #{@member.age})"%></h6>

<%if @member.cults.any?%>
    <h5>Member of:</h5>
    <ul>
      <% @member.oaths.each do |oath| %>
        <li><%= link_to  oath.cult.name, oath.cult %> <%= "- Membership level: #{oath.membership_level}"%></li>
      <% end %>
    </ul>
  <%if @member.meetings.any? %>
    <h5>You attended these meetings:</h5>
    <ul>
      <% @member.attendances.each do |attendance| %>
        <li><%= link_to attendance.meeting.date, attendance.meeting%> Cult: <%= link_to  attendance.meeting.cult.name, attendance.meeting.cult %> 
      <% end %>
    </ul>
  <%else%>
    <h5>You haven't attended any meetings.</h5>
  <%end%>
  
  <%else%>
  <%= "You aren't in any cults!"%>
<% end %>

<% if @user == @member %>
  <%= link_to "Join a Cult", new_oath_path %>  
<% end %>