<%if @member.picture%>
<div class= "circle right"><%= image_tag  "#{@member.picture}", class: "circle", width: "200px"%></div>
<%end%>

<h3><%= @member.name %><br></h3>
<%= "Date of birth: #{@member.date_of_birth}, (age #{@member.age})"%><br>
<%= button_to  "Edit Profile", edit_member_path(@member), method: :get %>
</table>
<%if @member.cults.any?%>
<table>
    <th>Member of:</th>
    <th></th>
   
      <% @member.oaths.each do |oath| %>
      <%if oath.cult.name%>
        <tr>
          <td><%= link_to oath.cult.name, oath.cult %></td>
          <td> <%= "- Membership level: #{oath.membership_level}"%><td>
        </tr>
      <%end%>
    <% end %>
  </table>
  <%if @member.meetings.any? %>
  <table>
    <th>You attended these meetings:</th>
      <tr>
        <% @member.attendances.each do |attendance| %>
        <td><%= attendance.meeting.date %></td> 
        <td>Cult: <%= link_to  attendance.meeting.cult.name, attendance.meeting.cult %><td> 
      </tr>
      <% end %>
  </table>    
   
  <%else%>
    <h5>You haven't attended any meetings.</h5>
  <%end%>
  
  <%else%>
  <%= "You aren't in any cults!"%>
<% end %>

<% if @user == @member %>
  <%= link_to "Join a Cult", cults_path %>  
<% end %>