<h1><%= @member.name %></h1>
<h3><%= "Date of birth: #{@member.date_of_birth}, (age #{@member.age})"%></h3>

<%if @member.cults.any?%>
<h3>Member of:</h3>
<ul>
  <% @member.oaths.each do |oath| %>
    <li><%= link_to  oath.cult.name, oath.cult %> <%= "- Membership level: #{oath.membership_level}"%></li>
  <% end %>
</ul>

<ul>
  <% @member.attendances.each do |attendance| %>
    <li><%= link_to  oath.cult.name, oath.cult %> <%= "- Membership level: #{oath.membership_level}"%></li>
  <% end %>
</ul>


<%else%>
<%= "This person isn't in any cults!"%>
<% end %>

<%= link_to  "Join a Cult", @member %>
