<h2>Please Login!</h2>
<%= image_tag  "https://skitguys.com/media/images/video/Dark_Textures_Welcome_Still_Shift-HD.jpg", width: "600px" %>

<% if flash[:errors] %>
<ul>
  <% for error in flash[:errors] %>
    <li style="color: red;"><%= error %></li>
  <% end %>
</ul>
<% end %>

<%# <% form_for :thing, :url => {:action => "get_in"} do |f| %> 
<div style="width: 300px">
<%= form_with model: Member.new, url: {action: "get_in"} do |f| %>
  <%= f.label :username%>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Sign-in!"%>
<% end %>
</div>
<br>
<%= button_to  "New User", new_member_path, method: :get %>
<br>


