<% if @cult.errors.full_messages.length > 0 %>
  <h4><%= pluralize(@cult.errors.full_messages.length , "error") %> prohibited this cult from being created:</h4>
  <ul class = "red-text">
    <% @cult.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@cult) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :slogan %>
  <%= f.text_field :slogan %><br>

  <%= f.label :building_name, "Generic Building name" %>
  <%= f.text_field :building_name %><br>

  <%= f.label :picture_URL %>
  <%= f.text_field :picture %><br>

  <%= f.submit %>
<% end %>