<% if @user %>
    <%= form_with model: Oath.new do |f| %>
    <%= f.hidden_field :cult_id, value: @cult.id %>
    <%= f.hidden_field :member_id, value: @user.id %>
    <%= f.submit "Join Cult"%>
    <% end %>
<% end %>
  <br>
  <% if @cult.locations.any? %>
  <h4><strong><em>This Cult has infiltrated these cities:</em></strong></h4>
  <div class="row">
  <% @cult.locations.each do |location| %>
      <div class ="col s4" style="height: 330px">
        <div class="card">
          <div class="card-image">
          <%= image_tag  "#{location.picture}" %>
          </div>
          <div class="card-action">
          <%= link_to location.name, location %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
  <% end %>
  <br>