
<h1><%= @cult.name %></h1>
<h5><strong><%= @cult.slogan %></strong></h5>

<%= image_tag  "#{@cult.picture}", width: "700px" %>
<% if @cult.members.any?{|member| member == @user}%>
  <%= render partial: "member" %>
<% else %>
  <%= render partial: "notmember" %>
<%end%>


