
<h1><%= @cult.name %></h1>
<h6><%= @cult.slogan %></h6>
<%= image_tag  "#{@cult.picture}", width: "700px" %>
<% if @cult.members.any?{|member| member == @user}%>
  <%= render partial: "member" %>
<% else %>
  <%= render partial: "notmember" %>
<%end%>


